@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}
:root{
    --main-body-color:rgb(237, 255, 255);
    --main-header-color: rgba(0, 119, 119, 0.337);
    --span:rgb(30, 119, 124);
    --light-text-color:rgb(255, 255, 255);
    --dark-text-color: rgb(33, 59, 65);
    --cards-color:rgb(255, 255, 255);
    --section-span: rgba(146, 178, 181, 0.785);
}
body{
    background-color: var(--main-body-color);
}
span{
    color: var(--span);
}
.navbar{
    background-color: var(--main-header-color);
    box-shadow: 3px 3px 10px 1px var(--span);
    border-bottom: var(--span) 3px solid;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 0 0 0 25px;
}
.navbar-brand:hover{
    color: var(--span);
}
.navbar a{
    color: var(--light-text-color);
    margin: 0 10px;
}
.nav-item a:hover{
    color:var(--span);
}
.navbar-toggler{
    color: var(--light-text-color);
    border: var(--bs-border-width) solid var(--light-text-color);
}
/* end of header */
.Home{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(1, 46, 46, 0.8)), url(../Sources/About_main.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    text-shadow: 2px 2px 4px #000000;
    color: var(--light-text-color);
}
.Home h1, h3{
    color: var(--About-text-color);
}
button a{
    color: var(--span);
}
.btn-outline-primary:hover{
    color: var(--span);
    border-color:var(--span);
    background-color:var(--background-body);
}
.btn-outline-primary{
    color: var(--span);
    border-color: var(--dark-text-color);
    background-color: var(--main-body-color);
    padding: 5px 10px;
    font-weight: 400;
    border-radius: 5px;
}
/* end of home section */
.About{
    position: relative;
}
.A-wrapper{
    background-color: var(--section-span);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0 10px 10px 40px;
    border-left: var(--span) 4px solid;
}
.A-content{
    position: relative;
    min-width:60%;
}
.A-content h2{
    color: var(--text-color);
    font-size: x-large;
    font-weight: 700;
}
.A-content p{
    font-size: medium;
    width: 60%;
    margin-top: 40px;
    padding-left: 30px;
}
.A-content span{
    font-size:xx-large;
}
/* end of about section */
.Skills p{
    color: var(--dark-text-color);
}
/* contact form */
.Contact-form form button{
    margin-top: 10px;
    background-color: var(--span);
    color: var(--About-text-color);
    border-radius: 3px;
    padding: 10px;
    border-style: none;
    border:  transparent 2px solid;
}
.Contact-form form button:hover{
    background-color: var(--About-text-color);
    color: var(--span);
    border:  var(--span) 2px solid;
    pointer-events: pointer;
}
form label{
    color: var(--span);
}
.socials a{
    color: var(--span);
}
.socials a:hover{
    color: var(--main-header-color);
}
/* projects */
.projects-main{
    color: var(--text-color);
}
footer{
    border-top: var(--span) solid 3px;
    background-color: var(--main-header-color);
}
footer p{
    margin-bottom: -1rem;
    color: var(--light-text-color);
}
/* Responsive design */
@media only screen and (max-width: 800px) {
    .A-content p{
        width: 100%;
        padding-left: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .c-wrapper{
        display: block;
        justify-content: center;
        border-radius: 0 10px 40px 10px;
        padding: 15px;
    }
    .Contact-info{
        margin-top: 25px;
        width: 100%;
    }
    .Contact-form{
        width: 100%;
    }
}