@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}
:root{
    --main-body-color:rgb(237, 255, 255);
    --main-header-color: rgba(0, 119, 119, 0.337);
    --span:rgb(30, 119, 124);
    --light-text-color:rgb(255, 255, 255);
    --dark-text-color: rgb(33, 59, 65);
    --cards-color:rgb(255, 255, 255);
    --section-span: rgba(0, 119, 119, 0.337);
}
body{
    background-color: var(--main-body-color);
    color: var(--light-text-color);
}
span{
    color: var(--span);
}
.navbar{
    background-color: var(--main-header-color);
    box-shadow: 3px 3px 10px 1px var(--span);
    border-bottom: var(--span) 3px solid;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 0 0 0 25px;
}
.navbar-brand:hover{
    color: var(--span);
}
.navbar a{
    color: var(--light-text-color);
    margin: 0 10px;
}
.nav-item a:hover{
    color:var(--span);
}
.navbar-toggler{
    color: var(--light-text-color);
    border: var(--bs-border-width) solid var(--light-text-color);
}
/* end of header */
.Home{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(1, 46, 46, 0.8)), url(../Sources/About_main.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    text-shadow: 2px 2px 4px #000000;
}
.Home h1, h3{
    color: var(--About-text-color);
}
.btn-outline-primary:hover{
    color: var(--span);
    border-color:var(--span);
    background-color:var(--background-body);
}
.btn-outline-primary{
    color: var(--span);
    border-color: var(--dark-text-color);
    background-color: var(--main-body-color);
    padding: 5px 10px;
    font-weight: 400;
    border-radius: 5px;
}
/* end of home section */
.About{
    position: relative;
}
.A-wrapper{
    background-color: var(--section-span);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0 10px 10px 40px;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    overflow: hidden;
    margin-top: 40px;
    padding: 30px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-left: var(--span) 4px solid;

}
.A-content{
    position: relative;
    z-index: 0;
    min-width:60%;
}
.About h1{
    border-bottom: var(--span) 1px solid;
}
.A-content h2{
    color: var(--text-color);
    font-size: x-large;
    font-weight: 700;
}
.A-content p{
    font-size: medium;
    width: 60%;
    margin-top: 40px;
    padding-left: 30px;
}
.A-content span{
    font-size:xx-large;
}
.A-img{
    position: relative;
    min-width:40%;
    z-index: 0;
}
.A-img img{
    opacity: 1;
    width:100%;
    height: auto;
}
/* end of about section */
.Skills p{
    color: var(--dark-text-color);
}
/* contact form */
.Contact{
    background-color: rgba(192, 236, 236, 0.574);
    background-image: linear-gradient(rgb(0, 0, 0), rgba(45, 106, 106, 0.7)),url(../Sources/contact_img.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    align-items: center;
    justify-content: center;
}
.Contact h1{
    border-bottom: var(--span) 2px solid;
}
.sub-title{
    margin-top: 20px;
    text-align: center;
}
.sub-title p {
    margin-top: 20px;
    font-weight: 300;
    color: var(--main-header-text);
}
.c-wrapper{
    margin-top: 25px;
    display: flex;
    min-width: 80%;
    justify-content: space-between;
    background-color: rgba(240, 252, 253, 0.586);
    height: auto;
    padding: 30px;
    border-left: var(--span) 5px solid;
    border-radius: 0 10px 10px 40px;
}
.Contact-info{
    min-width: 55%;
    align-self: center;
}
.info-wrap{
    margin-bottom: 20px;
    display: flex;
}
.info-wrap h4{
    color: var(--span);
}
.icon i{
    font-size: x-large;
    border-radius: 100%;
    margin-right: 15px;
    padding: 10px;
    color: var(--span);
}
.description{
    padding: auto;
}
.description p{
    font-size: medium;
}
.Contact-form{
    /* background-color: rgba(208, 246, 246, 0.568); */
    border-radius: 30px;
    min-width: 45%;
    padding: 25px;
    padding-top: 40px;
    border: var(--span) 1px solid;
}
.Contact-form h4{
    text-align: center;
}
.Contact-form form{
    display: flex;
    flex-direction: column;
}
.Contact-form form label{
    color: var(--span);
    padding: 10px 0;
}
.Contact-form form input{
    height: 30px;
    border: none;
    border-radius: 3px;
    border-style:none;
    border-bottom: var(--span) 3px solid;
}
.Contact-form form textarea{
    max-height: 100px;
    max-width: 100%;
    min-width: 100%;
    border: none;
    border-radius: 3px;
    border-bottom: var(--span) 3px solid;
}
.Contact-form form button{
    margin-top: 10px;
    background-color: var(--span);
    color: var(--About-text-color);
    border-radius: 3px;
    padding: 10px;
    border-style: none;
    border:  transparent 2px solid;
}
.Contact-form form button:hover{
    background-color: var(--About-text-color);
    color: var(--span);
    border:  var(--span) 2px solid;
    pointer-events: pointer;
}
.socials{
    display: flex;
    justify-content: center;
}
.socials a{
    text-decoration: none;
    color: var(--span);
    font-size: 35px;
}
.socials a:hover{
    color: var(--main-header-color);
}
.social{
    margin: 20px;
}
footer{
    border-top: var(--span) solid 3px;
    background-color: var(--main-header-color);
    height: auto;
}
footer p{
    margin-bottom: -1rem;
    padding: 16px;
    color: var(--light-text-color);
    text-align: center;
    font-size: small;
}
/* Responsive design */
@media only screen and (max-width: 800px) {
    .A-wrapper{
        display: block;
    }
    .A-content h2{
        font-size: large;
        font-weight: 600;
    }
    .A-content p{
        font-size: smaller;
        width: 100%;
        padding-left: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}